# Dependencias
node_modules/

# Archivos de Nuxt (generados automáticamente)
.nuxt/
.output/

# Carpetas de generación estática o producción
dist/
build/

# Variables de entorno locales
.env

# Logs
npm-debug.log*
yarn-debug.log*

# Herramientas de desarrollo y editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
